@import "./src/assets/styles/system/vars";

.company-copyright {
	@media all and (max-width: map-get($breaks, tablet_lg)) {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__text {
		font-family: $avenir;
		font-size: 16px;
		color: $white;
		font-weight: 300;

		@media all and (max-width: map-get($breaks, tablet_lg)) {
			order: -1;
			margin-bottom: 10px;
		}
	}
}